.theme_light {
  color: #000;
}

.theme_dark {
  color: #fff;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 92px 24px;
}

.header__menu {
  padding: 44px 0px 0px 26.52px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
}

.header__link {
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  padding: 6px 62px 0px 0px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgb(0, 0, 0, 0.6);
}

.cover__title{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1.15em;
}

.aligned-text_center {
  line-height: 1em;
  text-align: center;
}

.aligned-text_right {
  line-height: 1em;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 135px 50px 51px 78px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-top: 12px;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}